<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Abarrotera App - Editar Producto</title>
  <link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
</head>
<body>
  <h1>Editar Producto</h1>
  <form id="editar-producto-form">
      <!-- Resto del formulario -->
      <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
      </div>
      <div>
        <label for="precioCompra">Precio de compra:</label>
        <input type="number" id="precio_compra" name="precio_compra" required>
      </div>
      <div>
        <label for="precioVenta">Precio de venta:</label>
        <input type="number" id="precio_venta" name="precio_venta" required>
      </div>
      <div>
        <label for="unidad_venta">Unidad de venta:</label>
        <select id="unidad_venta" name="unidad_venta">
          <option value="piezas">Piezas</option>
          <option value="kilos">Kilos</option>
        </select>
      </div>
      <div>
        <label for="cantidad">Cantidad:</label>
        <input type="number" id="cantidad" name="cantidad" required>
      </div>
      <div>
        <label for="fecha_compra">Fecha de compra:</label>
        <input type="date" id="fecha_compra" name="fecha_compra" required>
      </div>
      <div>
        <label for="codigo_barras">Código de barras:</label>
        <input type="text" id="codigo_barras" name="codigo_barras" required>
      </div>
      <div>
      <button id="cancelar-button">Cancelar</button>
      <button type="submit">Guardar</button>
      </div>
  
  <script src="../main.js"></script>
  <script src="../assets/js/editar_form.js"></script>
 
</form>
  
  
</body>
</html>

