<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Abarrotera App - Gestión de Productos</title>
  <link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
</head>
<body>
  <h1>Gestión de Productos</h1>
  <button id="agregar-button">Agregar Producto</button>
  <input type="text" id="buscar-input" placeholder="Buscar por nombre">
  <p id="mensaje-no-resultado" style="display: none;">No se encontraron resultados.</p>
  <div id="productos-table-container">
    <table id="productos-table">
      <thead>
        <tr>
          <th>Código de Barras</th>
          <th>Nombre</th>
          <th>Precio de Compra</th>
          <th>Precio de Venta</th>
          <th>Unidad de Venta</th>
          <th>Cantidad</th>
          <th>Fecha de Compra</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
  
  <script src="../assets/js/productos.js"></script>
  <script src="../assets/js/main.js"></script>
</body>
</html>
